<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/quantum.js"></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/newtonsCradle.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AESCrypto</title>
    <link rel="icon" href="{{url_for('static',filename='images/graph.png')}}" type="image/png" />
    <link rel="stylesheet" type="text/css"
      href="{{url_for('static',filename='CSS/Home.css')}}"/>
  </head>
  <body>
    <video id="video-background" autoplay loop muted>
        <source src="{{url_for('static',filename='images/vid.mp4')}}" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

    <div class="container">
      <div class="box">
        <nav>
          <l-newtons-cradle
            class="img"
            size="78"
            speed="1.4"
            color="#068FFF"></l-newtons-cradle>
          <p class="logo pulsate">AESCrypto</p>
          <ul class="nav">
            <li><a href="/" class="blue">Home</a></li>
            <li><a href="Encrypt.html" class="blue">Encrypt</a></li>
            <li><a href="Decrypt.html" class="blue">Decrypt</a></li>
            

          </ul>
        </nav>
   
        <div class="contains">
          <div class="section-1">
            <div class="content-wrapper">
             
              <div class="text-content">
                <h1>About <span id="pink">AES</span></h1>
       
                <h2>AES (Advanced Encryption Standard) is a symmetric block cipher standardized by the National Institute of Standards and Technology (NIST) in 2001. It was chosen by the U.S. government to protect classified information and has become a global standard for data encryption. <span id="pink">Common uses</span> are: Protecting network communications (e.g., HTTPS, VPNs), Encrypting sensitive data in databases, and Securing IoT devices and systems.
                  
                    
                </h2>
                

              </div>
              
            </div>
          </div>
        </div>
        
      </div>
      <div id="loader">
        <l-quantum size="85" speed="1.75" color="blue"></l-quantum>
      </div>

      <script src="{{url_for('static',filename='Js/Home.js')}}">
      </script>

    </div>
  </body>
</html>
